<?xml version="1.0"?>
<robot name="ridgeback_yumi" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find ridgeback_description)/urdf/ridgeback.urdf.xacro" />



  <!-- Import Rviz colors -->
  <xacro:include filename="$(find yumi_description)/urdf/Util/materials.xacro" />
  <!-- Import utilities -->
  <xacro:include filename="$(find yumi_description)/urdf/Util/utilities.xacro" />
  <!--Import the yumi macro -->
  <xacro:include filename="$(find yumi_description)/urdf/yumi.xacro"/>
  <!--Import the yumi servo gripper macro -->
  <xacro:include filename="$(find yumi_description)/urdf/Grippers/yumi_servo_gripper.xacro"/>
  <!-- Import Gazebo plugins -->
  <xacro:include filename="$(find yumi_description)/urdf/Gazebo/gazebo.urdf.xacro"/>


  <!--yumi-->
  <xacro:yumi name="yumi" hardware_interface="hardware_interface/VelocityJointInterface" parent="yumi_pedestal">
    <origin xyz="0 0 0.1" rpy="0 0 0" />
  </xacro:yumi>
  <!--right gripper-->
  <xacro:yumi_servo_gripper name="gripper_r" hardware_interface="hardware_interface/EffortJointInterface" parent="yumi_link_7_r">
    <origin xyz="0 0 0.007" rpy="0 0 ${PI}" />
  </xacro:yumi_servo_gripper>
  <!--left gripper-->
  <xacro:yumi_servo_gripper name="gripper_l" hardware_interface="hardware_interface/EffortJointInterface" parent="yumi_link_7_l">
    <origin xyz="0 0 0.007" rpy="0 0 ${PI}" />
  </xacro:yumi_servo_gripper>




  <xacro:property name="pedestal_height" value="0.28" />
  <xacro:property name="pedestal_offset_x" value="0.32" />
  <xacro:property name="yumi_offset_x" value="0.06" />
  <xacro:property name="yumi_height" value="0.25" />

  <joint name="ridgeback_base_to_pedestal" type="fixed">
    <origin rpy="0 0 ${PI}" xyz="${pedestal_offset_x} 0 ${pedestal_height}" />
    <parent link="base_link" />
    <child link="yumi_pedestal" />
  </joint>

  <link name="yumi_pedestal">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 ${PI}" />
      <geometry>
        <mesh filename="package://ridgeback_yumi_description/meshes/IRB14000_mount.stl"/>
      </geometry>
      <material name="black" />
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 ${PI}" />
      <geometry>
        <mesh filename="package://ridgeback_yumi_description/meshes/IRB14000_mount.stl"/>
      </geometry>
      <material name="black" />
    </visual>
  </link>


  <joint name="pedestal_to_yumi" type="fixed">
    <origin rpy="0 0 ${PI}" xyz="${yumi_offset_x} 0 ${yumi_height}" />
    <parent link="yumi_pedestal" />
    <child link="yumi_base_link" />
  </joint>

</robot>
