<?xml version="1.0"?>
<launch>
	<rosparam file="$(find yumi_control)/config/traj_controllers.yaml" command="load" ns="/yumi"/>
	<arg name="yumi_controllers" default="joint_state_controller 
										  joint_traj_vel_controller_l
										  joint_traj_vel_controller_r
										  gripper_effort_pos_controller_r
										  gripper_effort_pos_controller_l"/>
	<node name="yumi_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg yumi_controllers)" ns="/yumi"/>
    <arg name="arms_hardware_interface" default="VelocityJointInterface"/>
    <arg name="grippers_hardware_interface" default="EffortJointInterface"/>
    <arg name="ip" default="192.168.125.1"/>
    <arg name="port" default="80"/>
    <arg name="egm" default="true"/>
    <rosparam file="$(find yumi_hw)/config/egm_rws_config.yaml" command="load" ns="/yumi/yumi_hw" if="$(arg egm)"/>
    <node required="true" name="yumi_hw" pkg="yumi_hw" type="yumi_hw_ifce_node" respawn="false" ns="/yumi" output="screen"> 
        <param name="name" value="yumi" />
        <param name="ip" value="$(arg ip)"/>
        <param name="port" value="$(arg port)"/>
        <param name="use_egm" value="$(arg egm)"/>
    </node>
    <node required="true" name="yumi_gripper" pkg="yumi_hw" type="yumi_gripper_node" respawn="false" ns="/yumi" output="screen"> 
        <param name="ip" value="$(arg ip)"/>
    </node>
	<node name="yumi_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
	    <remap from="/joint_states" to="/yumi/joint_states" />
	</node>
	<node name="joint_remapper" pkg="yumi_hw" type="gazebo_joints_remap.py" />



	<!-- URDF / SRDF parameters -->
	<arg name="ridgeback_config" default="base" />
    <include file="$(find ridgeback_yumi_description)/launch/description.launch">
        <arg name="config" value="$(arg ridgeback_config)" />
    </include>
</launch>
